# ===================================== #
# Server #
# ===================================== #



# ===================================== #
# Unity generated #
# ===================================== #

2. Unity Project/Temp/
2. Unity Project/Library/



# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

# 2. Unity Project/ExportedObj/
# 2. Unity Project/obj/

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj




# ===================================== #
# OS generated #
# ===================================== #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


