# ===================================== #
# Server #
# ===================================== #



# ===================================== #
# Unity generated #
# ===================================== #

Unity Project/Temp/
Unity Project/Library/



# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

Unity Project/App/ExportedObj/
Unity Project/App/obj/
Unity Project/Table/ExportedObj/
Unity Project/Table/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj




# ===================================== #
# OS generated #
# ===================================== #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


